# Ensemble Starter

In [1]:
import numpy as np # for linear algebra
import pandas as pd # for data manipulation

# Data Import

In [2]:
df1 = pd.read_csv("../data/submission_1.csv")
df2 = pd.read_csv("../data/submission_2.csv")
df3 = pd.read_csv("../data/submission_3.csv")
df4 = pd.read_csv("../data/submission_4.csv")
df5 = pd.read_csv("../data/submission_5.csv")
df6 = pd.read_csv("../data/submission_6.csv")
df7 = pd.read_csv("../data/submission_7.csv")
df8 = pd.read_csv("../data/submission_8.csv")
df9 = pd.read_csv("../data/submission_9.csv")

In [3]:
df1.head()

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         1

In [4]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 2 columns):
PassengerId    418 non-null int64
Survived       418 non-null int64
dtypes: int64(2)
memory usage: 6.6 KB

In [5]:
df2.head()

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         1

In [6]:
df3.head()

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         1
4          896         0

...

# The Ensemble

In [7]:
id_col = df1[['PassengerId']]
id_col.head()

   PassengerId
0          892
1          893
2          894
3          895
4          896

In [8]:
df1.drop(['PassengerId'], axis=1, inplace=True)
df2.drop(['PassengerId'], axis=1, inplace=True)
df3.drop(['PassengerId'], axis=1, inplace=True)
df4.drop(['PassengerId'], axis=1, inplace=True)
df5.drop(['PassengerId'], axis=1, inplace=True)
df6.drop(['PassengerId'], axis=1, inplace=True)
df7.drop(['PassengerId'], axis=1, inplace=True)
df8.drop(['PassengerId'], axis=1, inplace=True)
df9.drop(['PassengerId'], axis=1, inplace=True)

In [9]:
df1.head() # example of output

   Survived
0         0
1         0
2         0
3         0
4         1

In [10]:
# number of datasets for ensemble
N = 9

# either divide ensemble by number of components or assign them weights that sum to 1
w1 = 0.1
w2 = 0.1
w3 = 0.2
w4 = 0.1
w5 = 0.1
w6 = 0.1
w7 = 0.1
w8 = 0.1
w9 = 0.1

In [11]:
ensemble = (w1*df1 + w2*df2 + w3*df3 + w4*df4 + w5*df5 + w6*df6 + w7*df7 + w8*df8 + w9*df9)

In [12]:
predictions = pd.concat([id_col, ensemble], axis=1)

In [14]:
predictions.head()

   PassengerId  Survived
0          892       0.0
1          893       0.2
2          894       0.1
3          895       0.4
4          896       0.6

In [15]:
predictions = predictions.round(0)

In [16]:
predictions['Survived'] = predictions['Survived'].astype(np.int64)

In [17]:
predictions.head()

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         1

In [18]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 1 columns):
Survived    418 non-null int64
dtypes: int64(1)
memory usage: 3.3 KB

In [19]:
predictions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 2 columns):
PassengerId    418 non-null int64
Survived       418 non-null int64
dtypes: int64(2)
memory usage: 6.6 KB

# Make Submission

In [20]:
predictions.to_csv('final_submission.csv', index=False)